.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub
build
.env
.DS_Store
.idea/
*.iml

# Environment definitions with real deployment URLs
env/*.json
!env/development.json
!env/*.example.json
